.toggle{
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background: #fff;
    border: 2px solid #999;
    padding: .2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
}

.toggle_icon{
    width: 15px;
    height: 15px;
    /* background: chocolate; */
    cursor: pointer;
}
.toggle_btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #999;
    /* opacity: .5; */
    cursor: pointer;
    position: absolute;
    left: 0;
    transition: all 500ms;
}

